<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">VideoGames</a>
    <ul id="mav-mobile" class="right hide-on-med-and-down">
      <li><a href="/videogames">VideoGames</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</nav>