<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header %>
</head>
<body>
  <header>
    <% include ./partials/navbar %>
  </header>
  <div class='row'>
    <div class='input-add'>
      <h3>add game</h3>
      <form action='/games' method='POST'>
        <input type='text' name='title' placeholder='game' class="form-control"/>
        <button class='btn-primary' type='submit'>Add</button>
      </div>
    </div>
  </form>
  <table class='table col m8 s12'>
    <thead>
      <th>Title</th>
      <th>Edit</th>
      <th>x</th>
    </thead>
    <tbody>
      <% games.forEach( function(game) { %>
        <% var url = "/games/" + game.id + "?_method=DELETE" %>
        <% var editUrl = "/games/" + game.id + "/edit" %>
        <tr>
          <td><%= game.game %></td>
          <td>
            <a class="btn" href=<%= editUrl %>>Edit</a>
          </td>
          <td>
            <form method="POST" action=<%= url %> >
              <button class="btn red">Delete</button>
            </form>
          </td>
          <% }); %>
        </tbody>
      </table>
    </body>
    </html>


